{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MyResume Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      {% comment %} <img src="static/assets/img/profile-img.jpg"> {% endcomment %}
      <h1>Sakshi Chaurasia </h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="https://instagram.com/__sakshichaurasia__?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D " class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sakshi-chaurasia-b5498b213/ " class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/chaurasiasakshi" class="github"><i class="bx bxl-github"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Passionate and adaptable individual with a keen interest in technology, seeking opportunities to collaborate and innovate in order to solve real-world challenges.With a strong sense of adventure and curiosity, I find joy in exploring new opportunities and challenges that come my way.</p>
        
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>UI/UX Designer &amp; Web Developer.</h3>
            <p class="fst-italic">
              To secure an entry-level IT position that allows me to apply my technical skills and contribute to a dynamic team environment.
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>April 14,2003</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9005099135</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Allahabad,Uttar Pradesh</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Graduation</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sakshi144003@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Pin code:</strong> <span>211006</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                </ul>
              </div>
            </div>
            <p>
              Aspiring full-stack developer eager to apply foundational coding skills and learn modern technologies to contribute effectively in a dynamic team
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Resume</h2>
      <p>"Dedicated IT fresher seeking opportunities to apply technical skills and contribute to innovative solutions in a dynamic professional environment."</p>
    </div>

    <div class="row">
      <div class="col-lg-6">

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Advance Diploma in IT </h4>
          <h5>2022 - Present</h5>
          <p>National Skill Training Institute (Women) Allahabad</p>
          <p>NSTI(W), Allahabad has a rich tradition of pursuing excellent skill education along with value education and conducive environment for overall development of trainees. </p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Arts </h4>
          <h5>2020 - 2023</h5>
          <p>State University Allahabad</p>
          <p>A Public University established under Uttar Pradesh State University </p>
        </div>
      </div>    
      <div class="col-lg-6">
        <div class="resume-item">
          <h4>Course on Computer Concepts</h4>
          <p>Basic Knowledge of Computer</p>
        
        </div>
       
        <div class="resume-item">
          <h4>Intermediate</h4>
          <h5>2019-2020</h5>
          <p>St. Antony's Convent Inter College </p>
          <p>Let Your Light Shine</p>
         
        </div>
        <div class="resume-item">
          <h4>High School</h4>
          <h5>2017-2018</h5>
          <p>St. Antony's Convent Inter College </p>
          <p>Let Your Light Shine</p>
         
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Over the years, I've honed my skills in front-end and back-end development, learn various programming languages and frameworks such as HTML, CSS, JavaScript, PHP, Laravel , Python and Django among others.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Allahpur Allahabad</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sakshi144003@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9005099135</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form  method="post"  >
               {% csrf_token %}
              
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
             
              <div class="text-center"><button type="submit" class="btn btn-primary mt-4" data-toggle="button" aria-pressed="false" autocomplete="off">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Sakshi Chaurasia</h3>
   
      <div class="social-links">
        <a href="https://instagram.com/__sakshichaurasia__?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D " class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/sakshi-chaurasia-b5498b213/ " class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/chaurasiasakshi" class="github"><i class="bx bxl-github"></i></a>      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Sakshi Chaurasia</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>